*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
  width:auto;
  height:60px;
  display: flex;
  padding:8px;
  box-shadow: 0 4px 8px 0 rgb(255 224 156), 0 6px 20px 0 rgb(244 144 12 / 23%);

}
.logo{
  display: flex;
  height:auto;
  justify-content:space-between;
}
.image-logo{
  width:50px;
  height:40px;
  display: flex;
}
.title{
  display: flex;
  color:chocolate;
  font-weight: bold;
}
.title:hover{
  color:#f4900c;
}
.navbar-link {
  text-decoration: none;
  display: flex; 
}



.nav-link {
 display: flex;
 margin-left: auto;

} 
ul, li{
  list-style-type: none;
  
 } 
.link{
  font-size: 30px;
  color:#3e721d;
  font-weight: 500;
  margin-right: 20px;
  text-decoration: none;
}
.link:hover{
  color: #5c913b;
  font-size: 34px;
  text-decoration: underline;
}

/* Aboutt & Home Section */

.section {
  padding: 2rem 0;
  scroll-margin-top: 4rem;
}
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h2 {
  text-transform: uppercase;
  font-size: 2rem;
}
.section-title span {
  color: chocolate;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.about-img,
.about-info {
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 992px) {
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .about-img,
  .about-info {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1170px) {
  .about-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.5rem solid chocolate;
    box-sizing: border-box;
    top: -1.5rem;
    left: -1.5rem;
  }

  .about-img {
    position: relative;
  }
  .about-photo {
    position: relative;
  }
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}
p {
  margin-bottom: 1.25rem;
  color: green;
}
h3 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}


/* Footer css */

.footer-container{
  direction: ltr;
  padding: 15px;
  margin-bottom: 0;
  border: 3px solid #ffe09c;
  background-color: #ffe09c;
}
.footer-link{
text-decoration: none;
color: #5c913b;
font-size: 18px;
} 

.footer-links{
padding: 10px;
}
.reserved{
  color:rgb(217, 162, 22);
  font-weight: 300;
}
