*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width:auto;
  height:70px;
  display: flex;
  grid-row: auto;
  padding:10px;
  box-shadow: 0 4px 8px 0 rgb(255 224 156), 0 6px 20px 0 rgb(244 144 12 / 23%);
  
}
.logo{
  display: flex;
  height:auto;
  justify-content:space-between;
}
.image-logo{
  width:50px;
  height:40px;
  display: flex;
}
.title{
  display: flex;
  color:chocolate;
  font-weight: bold;
}
.title:hover{
  color:#f4900c;
}
.navbar-link {
  text-decoration: none;
  display: flex; 
}



.nav-link {
 display: flex;
 margin-left: auto;

} 
ul, li{
  list-style-type: none;
  
 } 
.link{
  font-size: 30px;
  color:#3e721d;
  font-weight: 500;
  margin-right: 20px;
  text-decoration: none;
}
.link:hover{
  color: #5c913b;
  font-size: 34px;
  text-decoration: underline;
}
.footer-container{
    direction: ltr;
    padding: 15px;
    margin-bottom: 0;
    border: 3px solid #ffe09c;
    background-color: #ffe09c;
}
.footer-link{
  text-decoration: none;
  color: #5c913b;
  font-size: 18px;
} 

.footer-links{
  padding: 10px;
}



.reserved{
  color:rgb(217, 162, 22);
  font-weight: 300;
}
